[Unit]
Description=Ramdisk before shutdown
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/bin/bash /etc/ramdisk/stop_ramdisk.sh
TimeoutStartSec=0

[Install]
WantedBy=shutdown.target
